html{
            background-image: url(subbackground.png);
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        body {
            justify-content: center;
            height: 100vh;
            align-items: center;
        }

        .heade {
            width: inherit;
            height: 200px;
            display: flex;
            justify-content: center;
            align-content: center;
            text-decoration: none;
        }

        .logo {
            font-size: 50px;
            text-decoration: none;
            color: black;
            margin-top: 25px;
        }

        .main {
            display: flex;
            height: 100vh;
            justify-content: center;
            flex-wrap: wrap;

        }

        .contents {
            display: grid;
            grid-template-columns: 300px 550px;
            grid-template-rows: 300px 300px;
            grid-row-gap: 100px;
            grid-column-gap: 20px;
            grid-auto-rows: auto;
            flex-wrap: wrap;
            flex-direction: column;
            /*margin-bottom: 20px;*/
            padding-bottom: 300px;
        }

        .content {
            display: flex;
            width: 550px;
            height: 300px;
            /*background: white; */
            /* border: 2px solid black; */
            margin: 0px;
            align-content: center;
            flex-direction: column;
        }

        .content1 {
            display: flex;
            width: 300px;
            height: 300px;

            margin: 0px;
            justify-content: center;
            align-content: center;
            vertical-align: top;
            text-align: left;

        }

        .content1 img {
            width: 300px;
        }

        .nav ul {
            list-style: none;
            margin-top: 45px;
            margin-left: 350px;
            padding: 0;
        }

        .nav li {
            margin-left: 40px;
            padding: 0 0 0 0;
            border: 0;
            float: left;
            font-size: 25px;
            font-weight: 900;

        }

        a {
            text-decoration: none;
            color: black;
        }

        .category {}

        .content img {
            width: 300px;
        }

        .title {
            display: inline-block;
            justify-content: left;
            align-content: left;
            margin-top: 10px;
            margin-left: 10px;
            font-size: 30px;
            font-weight: 700;
        }

        .maker {
            display: inline-block;
            justify-content: left;
            align-content: left;
            margin-top: 30px;
            margin-left: 10px;
            font-size: 18px;
            font-weight: 600;
            opacity: 40%;
        }

        .introduction {
            display: inline-block;
            justify-content: left;
            align-content: left;
            margin-top: 30px;
            margin-left: 10px;
            margin-right: 10px;
            font-size: 20px;
            font-weight: 300;

        }